<div class="container new-post">
  <h3 class="display-4 text-center mt-5">How would you like to edit?</h3>
  <div id="edit-note-form">
    <%= render 'errors' %>
    
    <%= form_for @note, html: {class: "was-validated"} do |f| %>
      <div class="mt-3 mb-3">
        <%= f.text_field :title, value: @note.title, class: "form-control is-invalid" %>
      </div>

      <div class="mt-3 mb-3">
        <%= f.text_area :body, value: @note.body, class: "form-control is-invalid" %>
      </div>

      <%= f.submit "Confirm Edit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>