<div class="container new-note">
  <h3 class="display-4">Create your new note here!</h3>
  <div id="new-note-form">
    <%= form_for @note, html: {class: "was-validated"} do |f| %>
      <%= render 'errors' %>
      <div class="mt-3 mb-3">
        <%= f.text_field :title, placeholder: "Note Title", class: "form-control" %>
      </div>

      <div class="mt-3 mb-3">
        <%= f.text_area :body, placeholder: "Note Title", class: "form-control" %>
      </div>

      <%= f.submit "Submit Note", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>